[Unit]
Description=ReignOS Pre-Shutdown tasks
#DefaultDependencies=no (NOTE this causes issues)
Before=exit.target

[Service]
Type=oneshot
#User=gamer
ExecStart=/usr/bin/echo "ReignOS shutdown started..."
ExecStop=/home/gamer/ReignOS/Managment/ReignOS.Bootloader/bin/Release/net8.0/linux-x64/publish/Shutdown.sh
TimeoutStopSec=60
RemainAfterExit=yes
#TimeoutStopSec=infinity
#KillMode=none

[Install]
WantedBy=default.target
#WantedBy=multi-user.target