[Unit]
Description=ReignOS Pre-Shutdown tasks
#DefaultDependencies=no (NOTE this causes issues)
#Before=shutdown.target poweroff.target reboot.target

[Service]
Type=oneshot
#User=gamer
ExecStart=/usr/bin/steam -shutdown
ExecStop=/usr/bin/bash -c 'while pgrep -f "[R]eignOS.Bootloader" > /dev/null; do sleep 1; done;'
TimeoutStopSec=60
RemainAfterExit=yes
#TimeoutStopSec=infinity
#KillMode=none

[Install]
WantedBy=default.target
#WantedBy=multi-user.target